<%= form_for([@deck, @card]) do |f| %>
  <div>
    <%= f.label :front %>
    <%= f.text_field :front %>
  </div>
  <div>
    <%= f.label :back %>
    <%= f.text_field :back %>
  </div>
  <% if @card.new_record? %>
    <%= f.submit "Create Card" %>
  <% else %>
    <%= f.submit "Update Card" %>
  <% end %>
<% end %>